$dark-bg: #212121;
$white: #ffffff;
header{
  background: black;
}
p{
  color: $white;
  font-size: 20px;
}
.revenue{
}
.maintained{

}
.maintained-graph{

}
.new{
  margin-top: -135px;
}
.new-graph{


}
.line{
  height: 4vh;
}
.espaco{
  background: red;
}
